@import url('https://fonts.googleapis.com/css?family=Numans');


h1{
    font-size:50px;
    font-family: 'Kaushan Script', cursive;
    margin: 5px;
    color:white;
}
hr{
    color:white;
}
a{
    text-decoration: none;
}
/*//////////////////////////////////////////////////////////////////
[ Table ]*/

        .wrap-table100{
            position: relative;
            display: -ms-flexbox;
            display: flex;
            padding: 10px;
            -ms-flex-direction: column;
            flex-direction: column;
            width:100%;
            pointer-events: auto;
            background-color: rgba(46,49,49,0.7) !important;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: 1.1rem;
            outline: 0;
        }
        .wrap-table100:before{
            content:'';
            position: absolute;
            top:-3px;
            right: -3px;
            bottom: -3px;
            left: -3px;
            background: #ff0000;
            z-index: -2;
            border-radius: 1.1rem;
            }
            .wrap-table100:after{
              content:'';
              position: absolute;
              top:-3px;
              right: -3px;
              bottom: -3px;
              left: -3px;
              background: #ff0000;
              z-index: -2;
              filter: blur(50px);
              }
            .wrap-table100:before,.wrap-table100:after{
                background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
              }
body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    font-family: 'Numans', sans-serif;
}
.container-table100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #FFC312;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: center;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

.table100-head th{
  font-family: 'Open Sans';
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}


tbody tr {
  font-family: 'Open Sans';
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}
tbody tr:hover {
  color: white;
  background-color: grey;
  cursor: pointer;
}
.column1 {
  width: 100px;
  padding-left: 20px;
}

.column2 {
  width: 100px;
}

.column3 {
  width: 150px;
}

.column4 {
  width: 50px;
}

.column5 {
  width: 170px;
}

.column6 {
  width: 170px;
}

.column7 {
  width: 200px;
}


@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "SUP_ID";
  }
  table tbody tr td:nth-child(2):before {
    content: "Name";
  }
  table tbody tr td:nth-child(3):before {
    content: "Gender";
  }
  table tbody tr td:nth-child(4):before {
    content: "Age";
  }
  table tbody tr td:nth-child(5):before {
    content: "DOB";
  }
  table tbody tr td:nth-child(6):before {
    content: "Email";
  }
  table tbody tr td:nth-child(7):before {
    content: "Password";
  }
  table tbody tr td:nth-child(8):before {
    content: "Department";
  }
  table tbody tr td:nth-child(9):before {
    content: "Location";
  }
  table tbody tr td:nth-child(10):before {
    content: "Manage";
  }

  .column4,
  .column5,
  .column6,
  .column7 {
    text-align: center;
  }

  .column7,
  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
  }
  
  .social_icon span:hover{
  color: white;
  cursor: pointer;
  }
  
  .social_icon{
  position: absolute;
  right: 20px;
  top: -55px;
  }

.icons span{
  font-size: 30px;
  }
  
  a:hover{
  color: black;
  cursor: pointer;
  }

  a{
    text-decoration: none;
    color: #FFC312;
  }
  .exit_icon span{
    font-size: 60px;
    color: #FFC312;
    }
    
    .exit_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .exit_icon{
    position: absolute;
    right: 20px;
    }
    